nav {
	position: fixed;
	top: 5;
	left: 5;
}
h1 {
	color: #bf0303;
	font-family: Georgia, Calibri, serif;
}

body {
	background-color: #2dbcbc
}
div {
	margin-top: 20px;
}

#wrapper {
	height: 1550px;
	width: 1000px;
	margin: auto;
	background-color: white;
	padding: 50px;
	
}
#paragraphwrapper {
	height: 300px;
}
#divintro {
	width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    background-color: blueviolet;
	box-shadow: 5px 10px 18px #888888
	margin-bottom: 15px;
}


#toppic {
	position: relative;
	top: -270px;
	left: 500px;
	width: 400px;
	height: auto;
	opacity: 1;
	transition: 1s ease;
	transition-delay: 0;
}
#toppic:hover {
	opacity: 0;
}
h3{
	text-decoration: underline;
	font-weight: 5pt;
	font-family: Georgia, Calibri, serif;
	margin-top: 0;
}
#div2 {
	height: 250px;
	width: 250px;
	float: left;
	border: 2px solid black;
	border-radius: 45px;
	padding: 10px;
	background-color: #fc8c0c;
	box-shadow: 5px 10px 18px #888888;
}
#colorprop {
	color: #d10404;
}
#div3 {
	height: 250px;
	width: 250px;
	float: right;
	border: 2px solid black;
	border-radius: 45px;
	padding: 10px;
	background-color: #71ed77;
	box-shadow: 5px 10px 18px #888888;
}
#div3 h4{
	font-family: Impact ,Garamond, san serif;
}
#div3 strong{
	font-family: Comic Sans MS,Garamond, san serif;
}

#div4 {
	height: 250px;
	width: 250px;
	position: relative;
    top: 20px;
	margin-left: 36%;
    margin-right: 35%;
	border: 2px solid black;
	border-radius: 45px;
	padding: 10px;
	background-color: #ed76eb;
	box-shadow: 5px 10px 18px #888888;
}
#scale:hover {
	transform: scale(1.5);
}
#rotate:hover {
	transform: rotate(180deg);
}
#skew:hover {
	transform: skew(45deg);
}
#wrapper2 {
	height: 300px;
}
#div5 {
	width: 410px;
	height: 200px;
	float: left;
	border: 2px solid black;
	border-radius: 50px 15px;
	padding: 15px;
	background-color: #dd1c60;
	box-shadow: 5px 10px 18px #888888;
}

#div6 {
	width: 410px;
	height: 200px;
	float: right;
	border: 2px solid black;
	border-radius: 15px 50px;
	padding: 15px;
	background-color: #f4f146;
	box-shadow: 5px 10px 18px #888888;
}
#footerpic {
	width: 1000px;
    height: 500px;
}

@media screen and (max-width: 1100px) {
    body {
        background-color: maroon;
    }
	h1 {
		color: yellow;
	}
}
@media screen and (max-width: 800px) {
    body {
        background-color: lightgreen;
    }
	h1 {
		color: darkblue;
	}
	
}
